main  {
    padding: 60px;
}
main  div.curriculum-box h1{
    color: #2196F3;
    font-size: 40px;
}

main  div.curriculum-box h3 {
    margin: 20px 0%;
}

main  div.curriculum-box {
    color: #ffffff;
    display: inline-block;
    padding: 25px 4%;
    margin: 25px;
    border: 3px solid #2196F3;
    border-radius: 40px;
    text-align: center;

}
main div.curriculum-box p {
    text-align: center;
}


/* RESPONSIVE ADJUSTMENTS */



@media screen and (max-width: 675px){

    main section{
        padding: 20px;
     }

}
