div.interface{
    display: flex;
}
div a img{

    height: 180px;
}

div a{
    color: #5c5c5c;
    text-decoration: none;
    
    transition: .2s;

}

div nav ul a:hover {
    color: #ffffff;
    transform: scale(1.15);
}

div nav ul {
    list-style: none;
}

div nav ul li {
    
    padding: 60px 40px;
    cursor: pointer;
}
 