header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;

}

header nav ul a:hover {
    color: #ffffff;
    transform: scale(1.15);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0px 40px;
    cursor: pointer;
}

header nav ul li a.active {
    color:#ffffff;
}

header div img{
    height: 180px;
}
 